<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeno.mapper.PlayRecordMapper">
    <insert id="addPlayRecord">
        INSERT INTO play_record
        (ip,time)
        VALUES (#{ip},#{time});
    </insert>

    <select id="getPlayRecord" resultType="com.zeno.model.PlayRecord">
        SELECT ip,TIME FROM play_record
    </select>
</mapper>